@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";

//custom scss
@import './scss/advertencia.scss';
@import './scss/landing.scss';
@import './scss/urban-tendencias.scss';
@import './scss/footer.scss';
@import './scss/titles.scss';
@import './scss/ventas.scss';
@import './scss/promocion.scss';

* {
    font-family: "Fira Sans", sans-serif;
}

body {
    padding: 0;
}


