.info {
    background-color: #a80500;
    padding: 20px 0;
    p {
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        margin:0;
        margin-left: 15px;
    }

    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
        margin-left: 0;
    }

    .close {
        cursor: pointer;
        
    }
}