.foot{
    margin-top: 200px;
    position: relative;
    .red-box{
        background-color: #a80500;
        color: white;
        width:70%;
        max-height: 225px;
        position: absolute;
        padding-right: 100px;
        right: 0;
        top:-110px;
        z-index: 2;
        h3 {
            padding: 30px;
            padding-left: 6%;
            padding-top: 40px;
            padding-bottom: 0;
        }
        .red-forms {
            display: flex;
            width: 100%;
            padding: 30px;
            padding-left: 6%;
            padding-bottom: 40px;
            ::placeholder{
                color: gainsboro;
            }
            .drop-list {
                margin-right: 30px;
                width: 40%;
                .list {
                    border: none;
                    background-color: #a80500;
                    border-radius: 0;
                    color: white;
                    height: 50px;
                    font-size: 20px;
                    border-bottom: 1px solid gainsboro;
                    width: 100%;
                }
            }
            .btn {
                background-color: black;
                color: white;
                border-radius: 38px;
                font-family: "Fira Sans", sans-serif;
                width: 20%;
            }
        }
    }
    .group-footer{
        background-color: black;
        padding:0 0;
        padding-bottom: 80px;
        img{        
            padding:50px 0;
        }
        .footer{
            color:white;
            display: flex;
            justify-content: space-between;
            .footer-content{
                img{
                    padding:0;
                    margin-right: 10px;
                }
                a{
                    color: white;
                    font-size: 18px;
                    text-decoration: none;
                }
                .footer-redes{
                    margin-bottom: 10px;
                } 
            }
            .footer-chiquito{
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
