.landing {
    position: relative;
    overflow: hidden;

    .navbar {
        z-index: 2;
        padding: 10px 0;
        font-size: 18px;
        margin-top: 20px;
        position: absolute;
        font-weight: 200;
        overflow: hidden;
        width: 100%;
        .navbar-brand {
           
        }
        .nav-item {
            margin-left: 10px;
            color: white;
        }
    }

    .carrousel {
        position: relative;
        .cuadro {
            width: 100%;
            height: 100%;
            max-height: 900px;
            background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.66) 2%,
                rgba(0, 0, 0, 0.58) 10%,
                rgba(0, 0, 0, 0.35) 23%,
                rgba(0, 0, 0, 0.5) 105%
            );
            position: absolute;
            z-index: 0;
        }
        img {
            width: 100%;
            max-height: 900px;
            object-fit: cover;
        }
        .carrousel-info {
            color: white;
            left: 7%;
            position: absolute;
            top: 60%;
            z-index: 2;
            h3 {
                font-size: 2vw;
            }
            h1 {
                font-size: 3.5vw;
            }
            .material-icons.md-white {
                background-color: white;
                border-radius: 100%;
                color: rgba(0, 0, 0, 1);
                font-size: 3vw;
                left: 60%;
                position: absolute;
                top: 66%;
                z-index: 2;
            }
        }
    }
    .black-box {
        background-color: black;
        color: white;
        margin: 0 auto;
        max-width: 70%;
        max-height: 225px;
        position: relative;
        bottom: 100px;
        z-index: 2;
        h2 {
            padding: 30px;
            padding-left: 6%;
            padding-top: 40px;
            padding-bottom: 0;
        }
        .black-forms {
            display: flex;
            width: 100%;
            padding: 30px;
            padding-left: 6%;
            padding-bottom: 40px;
            .drop-list {
                margin-right: 30px;
                width: 40%;
                .list {
                    border: none;
                    background-color: black;
                    border-radius: 0;
                    color: white;
                    height: 50px;
                    font-size: 20px;
                    outline: white;
                    border-bottom: 1px solid;
                    width: 100%;
                }
            }
            .btn {
                background-color: red;
                color: white;
                border-radius: 38px;
                font-family: "Fira Sans", sans-serif;
                width: 12%;
            }
        }
    }
}
