
.promocion{
    margin: 100px 0;
    .promo{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);        width: 370px;
        height: 100%;
        margin: 10px;
        margin-right: 0.9vw;
        margin-left:0;
        width: 100%;
        &-image{
            img{
                width: 100%;
            }
        }
        .promo-info{
            margin: 20px;
            margin-bottom: 40px;
        }
    }
    
}

