
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-right {
        display: flex;
        position: relative;
        padding-right: 70px;
        .material-icons.md-black {
            text-align: center;
            background-color: black;
            border-radius: 100%;
            color: rgba(255, 255, 255, 1);
            position: absolute;
            right:0;
            top:-20%;
            font-size: 60px;
        }
    }
    .title-left {

    }
}