.urban-card {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
    margin-left: 0;
    text-align: center;
    align-items: center;
    h2 {
        font-size: 28px;
        margin-top: 30px;
    }
    p {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    img {
        width: 100%;
        position: relative;
    }
    .material-icons.md-red {
        background-color: red;
        border-radius: 100%;
        color: rgba(255, 255, 255, 1);
        font-size: 50px;
        position: absolute;
        top: 50.5%;
        transform: translateX(-80px);
    }
}

.tendencia{
    margin: 40px 0;
}
.tendencia-anuncio{
    display: flex;
    margin-bottom: 40px;
    margin-top: 50px;
    .card-right{
        margin-top: 50px;
    }
    .tendencia-card{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
        margin-right: 40px;
        margin-bottom: 40px;
        width: 100%;
        
        .tendencia-imagen{
            position: relative;
            .background{
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                width: 100%;
                height: 100%;
                position: absolute;
            }
            img{
                width: 100%;
            }
            h2{
                bottom: 0;
                color:white;
                margin: 30px;
                position: absolute;
            }
            .material-icons.md-red {
                background-color: red;
                bottom: -25px;
                border-radius: 100%;
                color: rgba(255, 255, 255, 1);
                font-size: 50px;
                position: absolute;
                right: 5%;
            }
        }
        .tendencia-info{
            margin: 40px;
            line-height: 1.63;
        }
    }
}