

.ventas {
    margin: 40px 0;
    .sell{
        width: 100%;
        height: 100%;
        margin: 10px;
        
        margin-right: 0.9vw;
        margin-left:0;
        border: 1px solid;
        border-color: #e2e2e2;
        &-image{
            img{
                width: 100%;
            }
        }
    }
    .sell-info{
        margin: 20px;
        h3{
            margin:10px 0;
        }
        
    } 
}


.descripcion{
    color: #53565a;
    display: flex;
    margin:0;
    margin-bottom: 10px;
    align-content: space-between;
    p{
        margin:0;
        margin-left: 10px;
        padding:0;
        align-self: center;
    }
}


.grid{
    
    margin-bottom: 150px;
    margin-top: 30px;
}